.gamburger-menu {
	width: 100%;
	height: 399px;
	background-color: rgb(200, 205, 210);
	z-index: 1;
	position: absolute;
	top: -100%;
	padding: 20px;
	box-sizing: border-box;
	transition: all 0.3s ease-in-out;
	&_active {
		top: 0;
	}
}

.send-custom-time {
	display: block;
	border-radius: 5px;
	width: 150px;
	margin: 0 auto;
	margin-top: 20px;
	height: 40px;
	background-color: rgb(255, 255, 255);
	border: none;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	&:hover {
		background-color: rgb(140, 145, 150);
		color: rgb(255, 255, 255);
	}
}